<main role="mian">
  <!--主內容區-->
  <div class="master-pages-container-cont-layout">
    <div class="master-pages-container-cont">
      <!--內容放置區-->
      <div class="cont-row2">
        <div class="cont">
          <!-- 麵包屑 -->
          <h2 class="pages-title-layout">
            <nav class="breadcrumb-list">
              <ul>
                <li class="breadcrumb-item">
                  <a [routerLink]="['#']">首頁</a>
                </li>
                <span>></span>
                <li class="breadcrumb-item" aria-current="page">
                  <a [routerLink]="['#']">第二層</a>
                </li>
                <span>></span>
                <li class="breadcrumb-item active" aria-current="page">
                  <a>第三層</a>
                </li>
              </ul>
            </nav>
            <span class="pages-title-more"><a class="back-btn" (click)="goBackService.back()"><i
                  class="icon-back_02"></i>回上一頁</a></span>
          </h2>
          <!-- 頁面主標題 -->
          <div class="pages-title-setting-modify">
            <div class="space"></div>
            <span class="page-title-modify">頁面抬頭</span>
          </div>
          <!-- 搜尋列表 -->
          <div>
            <form>
              <div class="search-layout">
                <ul class="fontw_b">
                  <li>
                    <span> 狀態 : </span>
                    <span class="select-control">
                      <select [(ngModel)]="status">
                        <option ng-selected="true" value="" selected="selected">
                          全部
                        </option>
                        <ng-container *ngFor="let item of statusList">
                          <option ng-selected="true" [value]="item">
                            {{ item }}
                          </option>
                        </ng-container>
                      </select>
                    </span>
                  </li>
                  <li>
                    <span> 資料格式 : </span>
                    <span class="select-control">
                      <select [(ngModel)]="dataFormat">
                        <option ng-selected="true" value="" selected="selected">
                          全部
                        </option>
                        <ng-container *ngFor="let item of dataFormatList">
                          <option ng-selected="true" [value]="item">
                            {{ item }}
                          </option>
                        </ng-container>
                      </select>
                    </span>
                  </li>

                  <li>
                    <span><input type="text" class="form-control keywordInput" placeholder="請輸入關鍵字"
                        [(ngModel)]="keyword" /></span>
                  </li>
                  <li>
                    <input type="button" value="搜尋" class="btn-list btn-primary-color" (click)="search()" />
                  </li>
                  <li style="float: right">
                    <input type="button" value="新增來源" class="btn-list btn-primary-color" (click)="insertSource()" />
                  </li>
                </ul>
              </div>
            </form>
          </div>
          <!-- 表單欄位 -->
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="table-list table-list-color03 rwd_table02">
              <!-- status column 狀態 -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>狀態</th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.status === '合格'; else notQualified">
                    <div class="data-source-data-share-green-ball"></div>
                  </ng-container>
                  <ng-template #notQualified>
                    <mat-icon color="warn">warning</mat-icon>
                  </ng-template>
                </td>
              </ng-container>
              <!-- serviceName column 服務名稱 -->
              <ng-container matColumnDef="serviceName">
                <th mat-header-cell *matHeaderCellDef>服務名稱</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.serviceName }}
                </td>
              </ng-container>
              <!-- dataFormat column 服務名稱 -->
              <ng-container matColumnDef="dataSource">
                <th mat-header-cell *matHeaderCellDef>資料來源</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.dataSource }}
                </td>
              </ng-container>
              <!-- dataFormat column 服務名稱 -->
              <ng-container matColumnDef="dataFormat">
                <th mat-header-cell *matHeaderCellDef>資料格式</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.dataFormat }}
                </td>
              </ng-container>
              <!-- dataFormat column 服務名稱 -->
              <ng-container matColumnDef="updateCycle">
                <th mat-header-cell *matHeaderCellDef>更新週期</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.updateCycle }}
                </td>
              </ng-container>
              <!-- dataFormat column 服務名稱 -->
              <ng-container matColumnDef="changeTime">
                <th mat-header-cell *matHeaderCellDef>資料異動時間</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.changeTime }}
                </td>
              </ng-container>
              <!-- dataFormat column 啟動狀態 -->
              <ng-container matColumnDef="activationStatus">
                <th mat-header-cell *matHeaderCellDef>啟動狀態</th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{ element.activationStatus }} -->
                  <mat-slide-toggle [checked]="element.activationStatus === true" (change)="this.toggleChange(element)"
                    class="mattoggle">
                  </mat-slide-toggle>
                </td>
              </ng-container>
              <!-- dataFormat column 傳輸監控 -->
              <ng-container matColumnDef="transmissionMonitoring">
                <th mat-header-cell *matHeaderCellDef>傳輸監控</th>
                <td mat-cell *matCellDef="let row">
                  <!-- {{ element.transmissionMonitoring }} -->
                  <button class="data-source-images" (click)="
                                          this.testService.navigateToPage(
                                            '/data-source-transmission-monitor'
                                          )
                                        ">
                    <img class="transmissionMonitoring" src="../../../assets/images/transmissionMonitoring.png"
                      alt="Transmission Monitoring" />
                  </button>
                </td>
              </ng-container>
              <!-- dataFormat column 清洗設定 -->
              <ng-container matColumnDef="cleanSetting">
                <th mat-header-cell *matHeaderCellDef>清洗設定</th>
                <td mat-cell *matCellDef="let row">
                  <!-- {{ element.cleanSetting }} -->
                  <button class="data-source-images">
                    <img class="cleanSetting" src="../../../assets/images/cleanSetting.png" alt="cleanSetting" />
                  </button>
                </td>
              </ng-container>
              <!-- dataFormat column 管理功能 -->
              <ng-container matColumnDef="manage">
                <th mat-header-cell *matHeaderCellDef>管理功能</th>
                <td mat-cell *matCellDef="let row">
                  <button class="btn-list btn-primary-table-color" (click)="editDataSource()">
                    修改
                  </button>
                  <button class="btn-list btn-modify-table-color" (click)="deleteDataSource(row.dataSourceId)">
                    刪除
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"
                [ngClass]="{ 'row-not-qualified': row.status !== '合格' }"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">沒有資料</td>
              </tr>
            </table>
          </div>
          <!-- <mat-paginator [length]="page.totalCount" [pageSize]="page.rowsPerPage" [pageIndex]="page.currentPage - 1">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</main>