.button-class-1{
  font-size: large;
  font-weight: bold;
  background: $primary-background-color !important;
  width: 80%;
  height: 50px !important;
}

 /*提供檔案下載使用*/
.button-class-2{
  font-size: 1.1rem;
  font-weight: bold;
  background: $primary-background-color !important;
}
