.container-row {
  margin: 15px auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 15px 0px #c8c8c8;
  border-radius: 0 0 10px 10px;
}

.cont-diff{
  align-items: center;
  justify-content: space-around;
}

.cont {
  margin: 0;
  flex-grow: 1;
  max-width: 100%;
}

.cont-expansion-panel{
  width: 100%;
  //margin-top: 1em;
}
