/* Sass Document */
.cont-row {
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 95%;
  height: 100%;
}

.cont-row2 {
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 10%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 15px 0px #c8c8c8;
  border-radius: 0 0 10px 10px;
}

.cont-row-color01 {
  background-color: rgba(255, 255, 255, 0.8);
}

.cont {
  margin: 0;
  flex-grow: 1;
  max-width: 100%;
}

.cont-02-1 {
  max-width: calc(50% - 20px);
}

.cont-03-1 {
  max-width: calc(33.3333333333% - 20px);
}

.cont-03-2 {
  max-width: 66.6666666667%;
}

.cont-04-2 {
  max-width: 50%;
}

.cont-04-3 {
  max-width: 75%;
}

.cont-05-1 {
  max-width: calc(20% - 20px);
}

.cont-05-2 {
  max-width: calc(40% - 20px);
}

.cont-05-3 {
  max-width: 60%;
}

.cont-05-4 {
  max-width: 80%;
}

.cont-06-1 {
  max-width: calc(16.6666666667% - 20px);
}

.cont-06-2 {
  max-width: calc(33.3333333333% - 20px);
}

.cont-06-3 {
  max-width: 50%;
}

.cont-06-4 {
  max-width: 66.6666666667%;
}

.cont-06-5 {
  max-width: 83.3333333333%;
}

.cont-07-1 {
  max-width: calc(14.2857142857% - 20px);
}

.cont-07-2 {
  max-width: calc(28.5714285714% - 20px);
}

.cont-07-3 {
  max-width: 42.8571428571%;
}

.cont-07-4 {
  max-width: 57.1428571429%;
}

.cont-07-5 {
  max-width: 71.4285714286%;
}

.cont-07-6 {
  max-width: 85.7142857143%;
}

@media screen and (max-width: 1024px) {
  .cont-row {
    width: 98%;
  }
}
@media screen and (max-width: 768px) {
  .cont-row {
    width: 100%;
  }
  .cont,
  .cont-02-1,
  .cont-03-1,
  .cont-03-2,
  .cont-04-1,
  .cont-04-2,
  .cont-04-3,
  .cont-05-1,
  .cont-05-2,
  .cont-05-3,
  .cont-05-4,
  .cont-06-1,
  .cont-06-2,
  .cont-06-3,
  .cont-06-4,
  .cont-06-5,
  .cont-07-1,
  .cont-07-2,
  .cont-07-3,
  .cont-07-4,
  .cont-07-5,
  .cont-07-6 {
    margin: 0 10px 10px;
    padding: 10px 0;
    max-width: calc(100% - 20px);
  }
  .cont:first-child,
  .cont:last-child,
  .cont-02-1:first-child,
  .cont-02-1:last-child,
  .cont-03-1:first-child,
  .cont-03-1:last-child,
  .cont-03-2:first-child,
  .cont-03-2:last-child,
  .cont-04-1:first-child,
  .cont-04-1:last-child,
  .cont-04-2:first-child,
  .cont-04-2:last-child,
  .cont-04-3:first-child,
  .cont-04-3:last-child,
  .cont-05-1:first-child,
  .cont-05-1:last-child,
  .cont-05-2:first-child,
  .cont-05-2:last-child,
  .cont-05-3:first-child,
  .cont-05-3:last-child,
  .cont-05-4:first-child,
  .cont-05-4:last-child,
  .cont-06-1:first-child,
  .cont-06-1:last-child,
  .cont-06-2:first-child,
  .cont-06-2:last-child,
  .cont-06-3:first-child,
  .cont-06-3:last-child,
  .cont-06-4:first-child,
  .cont-06-4:last-child,
  .cont-06-5:first-child,
  .cont-06-5:last-child,
  .cont-07-1:first-child,
  .cont-07-1:last-child,
  .cont-07-2:first-child,
  .cont-07-2:last-child,
  .cont-07-3:first-child,
  .cont-07-3:last-child,
  .cont-07-4:first-child,
  .cont-07-4:last-child,
  .cont-07-5:first-child,
  .cont-07-5:last-child,
  .cont-07-6:first-child,
  .cont-07-6:last-child {
    margin: 0 10px 10px;
  }
} /*# sourceMappingURL=master-cont-layout.css.map */
