.pages-title-2 {
  margin-bottom: 2rem;
  font-size: 2.5em;
  color: #232127;
  letter-spacing: 0.1em;

  > span {
    font-weight: bold;
  }

  > mat-icon {
    padding-left: 0.4rem;
    transform: scale(1.5);
    color: #666666;
  }
}

.pages-title-3 {
  font-size: 2em;
  color: #232127;
  letter-spacing: 0.075em;
}
