<main class="main-pages-container-outbox">
  <!-- 主內容區 -->
  <div class="main-pages-container-cont-layout-l">
    <div class="main-pages-container-cont">
      <!-- 內容放置區 -->
      <div class="container-row">
        <!--    "關於我"的文章標題  -->
        <div class="about_me_article">
          <h1>傳承與創新 —— 您的監控解決方案先驅</h1>
          <!--    "關於我"的文章內容   -->
          <div class="about_me_content">
            <h3>光訊科技，一間擁有<span class="spec_word">20年專業</span>的監控設備供應商。</h3>
            <p>
              自成立以來，光訊見證了監控技術的演進，從CCTV的早期時代跨越到當前IPCAM技術當道的現今。我們的旅程反映了對品質、創新與客戶服務的不懈追求。
            </p>

            <p class="about_me_content_node">專業領先，品質保證</p>
            <p>
              我們的產品線經過精心設計與嚴格測試，旨在提供業界領先的監控解決方案。從高清晰度攝像機到先進的監控系統，每一項產品都體現了我們對創新的承諾和對品質的堅持。
            </p>

            <p class="about_me_content_node">客戶至上，服務優質</p>
            <p>
              光訊深知良好的客戶服務是成功的關鍵。我們的專業團隊致力於為客戶提供專業的支持與咨詢服務，從產品選擇、現場規劃到產品安裝，最後售後維護，均依據客戶需求客製化，以確保每位客戶的需求得到滿足。
            </p>

            <p>
              邀請您加入我們的旅程。作為一個堅持創新與卓越的公司，光訊科技期待與您攜手，共創安全與和諧的未來。讓我們一起探索更多可能，開啟監控技術的新篇章。
            </p>

            <p>
              歡迎聯絡我們，了解更多信息，並開始您的監控解決方案之旅。
            </p>
          </div>
        </div>
        <div class="about_me_image">
        </div>


      </div>
    </div>
  </div>
</main>
