@charset "UTF-8";
button,
input,
select,
textarea {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Helvetica, Arial, "微軟正黑體", sans-serif;
}

select {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  line-height: 1.42857;
  padding: 8px 16px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/*智慧知識查詢*/
.has-search {
  /* padding: 15px 0; */
}
.has-search .form-control {
  padding-left: 2.375rem;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 4;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/*一般*/
.form-control {
  padding: 8px 16px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
  line-height: 1.42857;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-control:focus {
  border: 1px solid #00b4ff;
}

.select_control {
  margin: 2px;
  padding: 0;
  overflow: hidden;
}
.select_control select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 16px 10px 10px;
  margin: 0;
}
.select_control select > option {
  border-bottom: 1px solid #ccc;
  padding: 4px;
}

.Wdate {
  margin: 2px 4px 4px 0px !important;
  padding: 8px 16px !important;
  display: table-cell;
  border-radius: 5px;
  border: 1px solid #ccc !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
  color: #555;
  line-height: 1.42857;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

@media screen and (max-width: 768px) {
  button,
  textarea {
    /* width: 100%;  */
  }

  .select_control select {
    margin: 8px 0;
    width: 100% !important;
  }
}
