.sort-table-layout{
  overflow-x: auto; overflow-y: hidden; white-space:nowrap;
}

.sort-table-layout .btn-fit{
  margin: 0;
  padding: 9px 12px;
}

.sort-table-layout tr {
  /* display: flex; */
}

.sort-table-layout tr.mat-row,
.sort-table-layout tr.mat-header-row {
  align-items: center;
  height: auto;
  }

.sort-table-layout td {
  border: 0 !important;;
  white-space:break-spaces;
}

.sort-table-layout th.mat-header-cell:first-of-type,
.sort-table-layout  td.mat-cell:first-of-type,
.sort-table-layout  td.mat-footer-cell:first-of-type,
.sort-table-layout th.mat-header-cell:last-of-type,
.sort-table-layout td.mat-cell:last-of-type,
.sort-table-layout td.mat-footer-cell:last-of-type {
  padding: 10px 8px;
}

.sort-table-layout .mat-header-cell {
    justify-content: center;
    align-items: center;
    /* display: flex; */
    outline: 0;
    text-align: center;
}

.sort-table-layout .mat-sort-header,
.sort-table-layout .mat-cell {
  /* flex: 1; */
  /* width: 300px; */
}

.sort-table-layout .mat-column-dataTypeText,
.sort-table-layout .mat-column-auditStatusText {
  word-break: keep-all;
}

/* .sort-table-layout .mat-column-Index,
.sort-table-layout .mat-column-ctrl,
.sort-table-layout .mat-column-className,
.sort-table-layout .mat-column-dataTypeText,
.sort-table-layout .mat-column-knowledgeTitle,
.sort-table-layout .mat-column-knowledgeFileName,
.sort-table-layout .mat-column-knowledgeCategoryName,
.sort-table-layout .mat-column-educationalRegionsName,
.sort-table-layout .mat-column-auditStatusText,
.sort-table-layout .mat-column-approvalUserName,
.sort-table-layout .mat-column-creationTime,
.sort-table-layout .mat-column-initTime,
.sort-table-layout .mat-column-historyCreationTime,
.sort-table-layout .mat-column-lastModificationTime
{
  flex: inherit;
} */

/* .sort-table-layout .mat-column-Index  {
  flex: inherit;
  width: 80px !important;
}

.sort-table-layout .mat-column-ctrl  {
  flex: inherit;
  width: 100px !important;
}

.sort-table-layout .mat-column-className {
  flex: inherit;
  width: 20% !important;

}

.sort-table-layout .mat-column-dataTypeText {
  flex: inherit;
  width: 100px !important;
}

.sort-table-layout .mat-column-knowledgeFileName,
.sort-table-layout .mat-column-knowledgeTitle {
  flex: inherit;
  width: 15% !important;
}

.sort-table-layout .mat-column-knowledgeCategoryName,
.sort-table-layout .mat-column-educationalRegionsName{
  flex: inherit;
  width: 10% !important;
}

.sort-table-layout .mat-column-creationTime,
.sort-table-layout .mat-column-initTime,
.sort-table-layout .mat-column-auditTime,
.sort-table-layout .mat-column-historyCreationTime,
.sort-table-layout .mat-column-lastModificationTime,
.sort-table-layout .mat-column-completedModificationTime{
  flex: inherit;
  width: 110px !important;
} */


/* 系統管理 */
/* .manage-sort-table-layout{
  overflow-x: auto; overflow-y: hidden; white-space:nowrap;
} */

.manage-sort-table-layout .btn-list{
  /* margin: 0; */
  padding: 9px 12px;
}

/* .manage-sort-table-layout .mat-sort-header,
.manage-sort-table-layout .mat-cell {
  flex: 1;
  width: 150px !important;
} */

/* .manage-sort-table-layout .mat-column-dataTypeText,
.manage-sort-table-layout .mat-column-auditStatusText {
  word-break: keep-all;
} */


/* .manage-sort-table-layout .mat-column-Index  {
  flex: inherit;
  width: 80px !important;
} */

/* .manage-sort-table-layout .mat-column-ctrl  {
  flex: inherit;
  width: 180px !important;
} */

/* @media screen and (max-width: 768px) {
  .manage-sort-table-layout .mat-column-ctrl  {
    width: 100px !important;
  }
} */

.manage-sort-table-layout .mat-column-title,
.manage-sort-table-layout .mat-column-attachementName,
.manage-sort-table-layout .mat-column-webSiteName,
.manage-sort-table-layout .mat-column-questionTitle{
  /* flex: inherit;
  width: 300px !important; */
}
.manage-sort-table-layout .mat-column-questionContent{
  /* flex: inherit;
  width: 400px !important; */
}

.manage-sort-table-layout .mat-column-categoryId{
  /* flex: inherit;
  width: 110px !important; */
}

.manage-sort-table-layout .mat-column-webSiteLink{
  /* flex: inherit;
  min-width: 300pxpx !important; */
}
