<main class="main-pages-container-outbox">
  <!-- 主內容區 -->
  <div class="main-pages-container-cont-layout-l">
    <div class="main-pages-container-cont">
      <!-- 內容放置區 -->
      <div class="container-row cont-diff">
        <div class="main-pages-container-cont-2">
          <p class="pages-title-3">OPPS...似乎是某些部分出現了錯誤!!!</p>
          <img src="../../../assets/images/wrong-page-image.svg">
          <button mat-flat-button color="primary" class="button-class-1" routerLink="/">請按我回到首頁</button>
        </div>
      </div>
    </div>
  </div>
</main>
