@import "../../../styles.scss";

.expansion-handler-button {
  margin: 1.2rem 1rem 0.6rem 1rem;
}

.expansion-accordion {
  justify-content: space-between;
  align-items: center;

  mat-expansion-panel {
    padding: 0.6rem 0;
  }
}

.mat-expansion-panel-header-description {
  justify-content: space-between !important;
}

.faq-content{
  width: 100%;
  display: flex;
  flex-direction: column;

  mat-chip-listbox{
    margin-bottom: 0.5em;
  }
}

.faq-icon:hover{
  color: $primary-background-color !important;
}
