<main class="main-pages-container-outbox">
  <!-- 主內容區 -->
  <div class="main-pages-container-cont-layout-l">
    <div class="main-pages-container-cont">
      <!-- 內容放置區 -->
      <div class="container-row">
        <div class="pages-title-2">
          <span>常見問題</span>
          <mat-icon class="faq-icon">question_answer</mat-icon>
        </div>

        <div class="faq-content">
          <!--  上方選擇  -->
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option *ngFor="let faq of faqList" (click)="selectFaq(faq)">{{ faq }}</mat-chip-option>
          </mat-chip-listbox>
          <!--  畫面展開  -->
          <div class="cont-expansion-panel">
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" *ngFor="let data of fakeData">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ data.newsTitle }}
                  </mat-panel-title>
                  <mat-panel-description>
                    消息時間：{{ data.newsTime }}
                    <mat-icon>account_circle</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{ data.newsContent }}</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>


      </div>
    </div>
  </div>
</main>
